$naranja: orange;
$amarillo: yellow;
$blanco: white;
$rojo: #540B0E;
$auburn: #9E2A2B;
$color1: #dc5c05;
$color2: #6ec5b8;
$color3:#ff9000;
$color4: #978b7d;


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
// se quita el margen para que ocupe toda la pantalla
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 30;
    margin: 0px;
}
// se le da el color a la clase, tamaño y se le da el acomodo al contenido
.header{
    background-color: $naranja;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// se le da el tamaño a la imagen y su ubicación
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
// se le da el color al titulo
.header__title{
    color: $blanco;
}
// se posiciona el menu de perfil hacia la derecha
.header__perfil{
margin-right: 30px;
}
// Se esconde la lista y se posiciona 
.header__perfil ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align:right;
    margin: 0px 0px 0px -10px;
}
// // Se muestra el contenido del menu cuando se pasa el mouse encima
// .header__perfil:hover ul, ul:hover {
//     display: block;
// }

.header__perfil:hover ul {
    display: block;
}
// Se le da un color blanco al texto y se quita la decoración
.header__perfil li a {
    font-size: 15px;
    color: $blanco;
    text-decoration: none;
}
// se subraya la lista cuando se pasa el mouse
.header__perfil li a:hover {
    text-decoration: underline;
    color: $rojo;
}
// se posiciona la imagen y la palabra perfil
.header__perfil--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
// se le da el tamaño a la imagen y se da posicionamiento
.header__perfil--profile img {
    margin-right: 8px;
    width: 40px;
}
// se asigna un color blanco a la palabra perfil y se quita el margen
.header__perfil--profile p {
    font-size: 20px;
    margin: 0px;
    color: $blanco;
}

nav{
    height: 50px;
    background: $naranja;
    color: $blanco;
}

.menu ul{
    background: $color4;
    display: flex;
    list-style: none;
}

.menu ul ul{
    display: none;
}

.menu a{
    width: 150px;
    display: block;
    padding: 15px 20px;
    color: $blanco;
    text-decoration: none;
}

.menu a:hover{
    background: rgba(0,0,0,0.3);
}

.menu a span{
    margin-left: 5px;
}

.menu ul li:hover ul{
    display: block;
    position: absolute;
}